.Top{
    background-color: white;
    height:50px;
    margin-left: 163px;
    margin-bottom: 5px;
    text-align: left;
    width: 1206px;
}
.whats{
    margin-left: 5px;
    color: grey;
}
.tren{
    margin-left: 5px;
    margin-top: -1px;
    line-height: 5px;
}
@media screen and (max-width){

    .Top{
        height: 50px;
        width: 800px;
        margin-left: 5px;
    }
    .whats{
        margin-left: 0px;
        color: grey;
    }
    .tren{
        margin-left: 1px;
        margin-top: -1px;
        line-height: 5px;
    }
}